div{
    border: 3px rgb(170, 74, 173) solid;
    padding: 30px;
  margin: auto; width: 400px;
  margin-top: 10px;
}
h1{
  text-align: center;
  margin: auto;
  border: 3px black solid;
  width: 500px;
  padding: 10px;
}


body{
  background-image:url(https://png.pngtree.com/background/20210714/original/pngtree-bloody-blood-background-halloween-background-picture-image_1220409.jpg)
}